@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #0c122c;
    height: 100vh;
    background-image: url(../image/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

