@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0c122c;
    height: 100vh;
    background-image: url(../image/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.conteiner1 {
    background-color: #1e2c69;
    padding: 40px 130px 40px 40px;
    border-radius: 10px 130px 10px 10px;
}

.storage {
    display: flex;
    gap: 15px;
}

.logo {
    margin-bottom: 30px;
}

.itens {
    background-color: #0c122c;
    width: 50px;
    height: 50px;
    border-radius: 10px;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner2 {
    background-color: #1e2c69;
    width: 540px;
    height: 160px;
    border-radius: 10px;
    padding: 0px 40px;
    color: white;
    font-weight: 400;

    /* Flex */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px
}

.path {
    height: 20px;
    background-color: #0c122c;
    border-radius: 10px;
    padding: 3px;
}

.state {
    display: flex;
    justify-content: space-between;
}

.path-two {
    width: 340px;
    height: 14px;
    padding: 2px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ffa399, #ff4d97);

}

.circle {
    background-color: aliceblue;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: auto;
}

span {
    font-weight: 700;
}

.balloon {
    width: 180px;
    height: 70px;
    background-color: aliceblue;
    border-radius: 10px;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    position: absolute;
    margin-left: 280px;
    margin-bottom: 160px;
}

.balloon span {
    color: #0c122c;
    font-size: 32px;
}

.balloon p {
    color: #86858a;
    font-weight: bold;
}

.balloon-left {
    width: 0px;
    height: 0px;
    background-color: aqua;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}